

<p id="notice"><%= notice %></p>

<h1>Quotations</h1>

<%= form_tag search_path, method: :get do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Author name</th>
      <th>Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotations.each do |quotation| %>
      <tr>
        <td><%= quotation.quote %></td>
        <td><%= quotation.author_name %></td>
        <td><%= quotation.category.name %></td>
        <td><%= link_to 'Show', quotation %></td>
        <td><%= link_to 'Kill',kill_path(quotation) %>
        <!--<td><%= link_to 'Kill',quotation, controller:"quotations", action:"kill" %></td>-->
        <td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>
        <td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_quotation_path %>
