<%= form_for(quotation) do |f| %>
  <% if quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% quotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote %>
    <%= f.text_area :quote %>
  </div>

  <div class="field">
    <%= f.label :author_name %>
    <%= f.text_field :author_name %>
  </div>


    <div class="field">
      <%= f.label :category_name %>
      <%= f.collection_select(:category_id, Category.all+[Category.new(id:-1, name: "New Category")], :id, :name) %>
      <%= text_field_tag :category_name %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
