<a href="http://web6.cs.ait.ac.th/ps2/report/psql_recording_file.txt">SQL Reports</a>
<a href="http://web6.cs.ait.ac.th/ps2/report/activerecord.txt">How ActiveRecord uses an SQL sequence object for the ID field</a>
<a href="http://web6.cs.ait.ac.th/ps2/report/list_of_xml_urls.txt">List of XML URLs to Import</a>

<p id="notice"><%= notice %></p>
<h1>Quotations</h1>
<%= form_tag import_xml_path, method: :get do %>
    <%= label_tag(:xmlurl, "Enter url of the XML file:") %>
    <%= text_field_tag(:xmlurl) %>
    <%= submit_tag("Import") %>
<% end %>
<% if(flash[:err_url]) %>
    <div class="errors"><%= flash[:err_url] %></div>
<% end %>

<%= form_tag search_path, method: :get do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<table id="quotation_table">
  <thead>
    <tr id="quotation_table_th">
      <th></th>
      <th>Quote</th>
      <th>Author name</th>
      <th>Category</th>

    </tr>
  </thead>

  <tbody>
  <% i=0
     @quotations.each do |quotation|
  %>
      <th colspan="2"></th>
      <tr>
        <td><%= i+=1 %></td>
        <td><%= quotation.quote %></td>
        <td><%= quotation.author_name %></td>
        <td><%= quotation.category.name %></td>
        <!--<td><%= link_to 'Show', quotation %></td>-->
        <td><%= link_to 'Kill', controller:"quotations", action:"kill" , pass:quotation.id %></td>
        <!--<td><%= link_to 'Edit', edit_quotation_path(quotation) %></td>-->
        <!--<td><%= link_to 'Destroy', quotation, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quotation', new_quotation_path %>
