<!DOCTYPE html>
<html>
  <head>
    <title>PS2V2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <%= link_to 'Erase my personalization', controller:"quotations", action:"quotation_cookie_erase" %>
    <%= link_to 'Export to JSON', 'export-quotations.json'%>
    <%= link_to 'Export to XML', 'export-quotations.xml' %>
  </body>
</html>
