<!DOCTYPE html>
<html>
  <head>
    <title>PS2V2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%= link_to 'Export to JSON', 'export-quotations.json'%>
    <%= link_to 'Export to XML', 'export-quotations.xml' %>
    <% if cookies[:killedQuoteArr] !=nil %>
      <%= link_to 'Erase my personalization', controller:"quotations", action:"quotation_cookie_erase" %>
    <% end %>

    <div>
      <br>
      <br>
  <%= form_tag import_xml_path, method: :get do %>
      <%= label_tag(:xmlurl, "Enter url of the XML file:") %>
      <%= text_field_tag(:xmlurl) %>
      <%= submit_tag("Import") %>
  <% end %>
    </div>
  </body>
</html>
