<h1>
  User Statistics
</h1>

<table style="border: none" id="userStat">
  <tr><td>Total Users </td><td><%= @total_users %></td></tr>
  <tr><td>No of Admins</td><td><%= @no_of_admins %></td></tr>
  <tr><td>No of Members</td><td><%= @no_of_active_memebers %></td></tr>
  <tr><td>No of Banned users</td><td><%= @no_of_banned_memebers %></td></tr>
  <tr><td>No of members who registered within 7 days</td><td><%= @registered_last_7days %></td></tr>
</table>