<h1>
  User Statistics
</h1>
<div>
Total Users  <%= @total_users %>
</div>
<div>No of Admins <%= @no_of_admins %> </div>
<div>No of Members <%= @no_of_active_memebers %> </div>
<div>No of Banned users <%= @no_of_banned_memebers %> </div>

<div>No of members who registered within 7 days <%= @registered_last_7days %></div>

